.containerDog{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.Dog{
    background-color: bisque;
    border-radius: 10px;
    padding: 5px 0;
    width: 400px;
}

.Dog h1, .Dog h3, .Dog p{
    text-align: center;
    padding: 1px 3px;
}

.gifLoad {
    margin-top: 5vh;
}

.containerBtn button{
    transition: all 0.3s ease;
    border-radius: 4px;
    width: 100px;
    height: 35px;
    background-color: whitesmoke;
    color: orangered;
    border: orangered;
    margin: 0.3rem;
    cursor: pointer;
}

.containerBtn button:hover{
    background-color: orangered;
    color: whitesmoke;
    border: whitesmoke;
}