body {
  position: relative;
  min-height: 100vh;
}

.HOME {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 430px);
  grid-gap: 10px;
  justify-content: center; 
  flex-wrap: wrap;
}

.navigationPart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
  background-color: brown;
  height: 3rem;
}

.filter {
  flex-basis: 33.3%;
  justify-content: center;
}

.paginated {
  flex-basis: 33.3%;
}

.searchbar {
  flex-basis: 33.3%;
}

.loadingInfo{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}