nav {
    display: flex;
    justify-content: space-around;
    /* margin: 10px; */
}
        
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
        
.pagination button {
    margin-left: .1rem;
    margin-right: .1rem;
}

.inactive, .active{
    transition: all 0.3s ease;
    border-radius: 5px;
    border: none;
    width: 30px;
    height: 35px;
}

.inactive{
    background-color: bisque;
    color: brown;
}

.active{
    background-color: brown;
    color: black;
}

.inactive:hover, .active:hover{
    background-color: brown;
    color: bisque;
    cursor: pointer;
}

.functions {
    transition: all 0.3s ease;
    border-radius: 5px;
    border: none;
    width: 30px;
    height: 35px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.functions:hover {
    background-color: blanchedalmond;
}

.functions.more {
    align-items: flex-end;
    padding-bottom: .3rem;
}

.functions.arrowNext {
    margin-left: 0.5rem;
    align-items: center;
}

.functions.arrowPrev {
    margin-right: 0.5rem;
    align-items: center;
}
