.containerLP{
    background-image: url('../../images/LandingPageIMG2.jpg');
    background-attachment: initial;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.position {
    float: left;
    margin: 400px 200px;
}

.position h1 {
    color:	whitesmoke;
}

.position button{
    transition: all 0.3s ease;
    padding: 5px;
    border: 1px solid orangered;
    color: orangered;
    background-color: bisque;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 100%;
}

.position button:hover {
    background-color: orangered;
    color: bisque;
    border: 1px solid bisque;
    cursor: pointer;
}

