html{
    font-family: 'Libre Franklin', sans-serif, arial;
}

.containerLP{
    background-image: url('../../images/LandingPageIMG2.jpg');
    background-attachment: initial;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.position {
    float: left;
    margin: 400px 200px;
}

.position h1 {
    color:	antiquewhite;
}

.position button{
    transition: all 0.3s ease;
    padding: 5px;
    border: 1px solid brown;
    color: brown;
    background-color: antiquewhite;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 100%;
}

.position button:hover {
    background-color: brown;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    cursor: pointer;
}

